body {
    background-color: rgb(114, 121, 121);
}

p {
    color: rgb(253, 253, 253);;
    font-style: italic;
    font-size: 30px;
}

ul {
    font-size: 30px;

}

li {
    font-style: ;
    color: aqua;
}

